@import url(https://diwe.com.br/clientes/quartzolit/weber-font.css);
@import url(reset.css);


h1, h2, h3, p, button{
    font-family: 'Weber', sans-serif;
}

body{
    background-color: #1E2631;
}


.certificate-page{
    margin-top: 31px;
}
.container{
    width:900px;
    margin:0 auto;
}
.header-logo{
    text-align: center;
    margin-bottom: 30px;
}

.header-logo img {
    max-width: 450px;
}

.certificate-inner{
    display:flex;
    padding:50px 30px;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 20px;
}
.cert-inner-left{
    flex:1;
    padding-right:20px;
}
.cert-inner-right{
    flex:1;
    padding-right: 20px;
}
.cert-inner-left-img{
    display:flex;
    justify-content: center;
}

.cert-inner-left-img img{
max-width:300px;
padding-bottom: 50px;
}

.cert-inner-left-text h1{
    color:#1E2631;
    padding-bottom:30px;
    font-size: 37px;
    line-height: 39px;
    letter-spacing: -1px;
}

.cert-inner-left-text h3{
    color:#1E2631;
    padding-bottom:10px;
    font-size: 22px;
    letter-spacing: -1px;
}

.cert-inner-left-text p{
    color:#1E2631;
    margin-bottom:20px;
    font-size: 20px;

}

.cert-inner-form{
    background-color: #fff;
    padding:0 20px 50px 20px;
    border-left: 1px solid #ccc;
}

.cert-inner-form h3{
    padding:30px 0;
    text-align:center;
    color: #1e2631;
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
    letter-spacing: -1.2px;
}

button.cert-send {
    font-size: 20px;
    text-align: center;
    background-color: #FB0035;
    color: #fff;
    border-radius: 5px;
    width:80%;
    height:60px;
    border:none;
    text-align: center;
    margin: 10px auto;
    cursor: pointer;
    border: 2px solid transparent;
    transition: 0.3s;
}

button.cert-send:hover{
    background-color: #fff;
    border-color: #1E2631;
    color:#1E2631;
}
button.cert-send.cert-send-disabled{
    background-color: #ececec;
    border: 2px solid transparent;
    color: #969696;
    pointer-events: none;
    cursor: none;
}

input#cert-name {
    font-size: 15px;
    border-radius: 2px;
    width:100%;
    height:40px;
    border:1px solid #ccc;
    font-family: 'Roboto' sans-serif;
    margin: 5px 0 25px;
    padding:0 10px;
}

.form-label{
    font-family: 'Roboto', sans-serif;
    font-size:15px;
    color:#1E2631;
    padding-left: 5px;
}

.rev-date {
    margin: 5px 0 30px;
    width: 100%;
    height: 40px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    padding: 0 5px;
    border-color: #ccc;
}

.cert-generate{
    display:none;
}

.cert-img {
    text-align: center;
    margin: 0 0 20px; 
}
.cert-img img{
    max-width:670px;
    width:670px;
}

.cert-options{
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}
button.cert-opt {
    width: 200px;
    height: 40px;
    margin: 0 10px;
    background-color: #FB0035;
    border: none;
    border-radius: 50px;
    font-family: "Roboto", sans-serif;
    font-size: 17px;
    color:#fff;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
}

button.cert-opt:hover{
    background-color: #fff;
    color:#1E2631;
}

#form-cert input, #form-cert select {
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    box-sizing: border-box;
}

#form-cert input:focus, #form-cert select:focus {
    border-color: #fb003594;
    outline: 0;
    box-shadow: 0 0 0 0.1rem rgba(251, 0, 53, 0.24);
}

.button-area {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 700px) {
    .container {
        max-width: 90%;
    }
    .certificate-inner {
        flex-direction: column;
        padding: 31px 15px;
    }
    .cert-inner-left-text h1 {
        font-size: 28px;
        text-align: center;
        line-height: 34px;
        padding-bottom: 21px;
    }
    .cert-inner-left-text h1 br{
        display: none;
    }
    .cert-inner-left-img img {
        max-width: 200px;
    }
    .cert-inner-left {
        padding-right: 0;
    }
    .cert-inner-right {
        padding-right: 0;
    }
    .cert-inner-form {
        background-color: #fff;
        padding: 0 12px 12px 12px;
        border-left: none;
    }
    .cert-inner-form h3 {
        padding-top: 10px;
        font-size: 23px;
    }
    .cert-img img {
        max-width: 100%;
    }
    button.cert-send {
        width: 100%;
    }
    .cert-inner-left-text h3{ 
        font-size: 19px;
        text-align: center;
    }
    .cert-inner-left-text p{ 
        font-size: 18px;
        text-align: center;
    }
    .cert-options {
        flex-wrap: wrap;
    }
    button.cert-opt {
        width: 45%;
        margin: 0 5px;
    }
    button#saveImage {
        width: 64%;
        margin-top: 13px;
    }
}